# Copy to frontend/.env.local after deploying contracts

NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_FACTORY_ADDRESS=0xYourFactoryAddress
NEXT_PUBLIC_MOCK_USDC_ADDRESS=0xYourMockUSDCAddress
NEXT_PUBLIC_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

NEXT_PUBLIC_WC_PROJECT_ID=your_walletconnect_project_id
NEXT_PUBLIC_GITHUB_URL=https://github.com/Dhruvm23/ChitFund3.0
